<!DOCTYPE html>
<html>
<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance Checklist for Students</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel='stylesheet' href="/stylesheets/style.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-box"></div>

        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="/">Finance Checklist for Students</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>-->
            <!--</ul>-->
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <%if(0) {%>
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
    <%}%>
    <!--<%if(1) {%>-->
    <!--<div class="alert alert-success" role="alert">-->
        <!--<%%>-->
    <!--</div>-->
    <%}%>
</div>
