<% include ./partials/header %>
<link rel='stylesheet' href="/stylesheets/index.css" />

    <div class="usr">
        <div class="usr-wrapper">

            <div class="usr-header"> Personal <br> Budget <br> List </div>

            <div class="usr-login-wrapper">
                <div class="usr-login">
                    <% if(1){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                        <a href="/login">Sign In</a>
                    </li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                        <a href="/register">Sign Up</a>
                    </li>

                    <% } else { %>
                    <li><a href="#">Signed In As <%=  %></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="pub">
        <div class="pub-wrapper">
            <div class="pub-header"> Income <br> Suggestion </div>

            <div class="pub-bul-wrapper">
                <div class="pub-bul-main">
                     <img src="/images/sign1.png" id="pub-main1">
                     Job Opportunities
                </div>
                <div id="pub-bul-sub1">
                    <!-- <img src="/images/sign2.png" id="pub-sub"> -->
                    Part-time Job <br>
                    <!-- <img src="/images/sign2.png" id="pub-sub"> -->
                    Internship Opportunity
                </div>
            </div>

            <div class="pub-bul-wrapper">
                <div class="pub-bul-main">
                    <img src="/images/sign1.png" id="pub-main2">
                    Scholarship Opportunities
                </div>
                <div id="pub-bul-sub2">
                    <!-- <img src="/images/sign2.png" id="pub-sub"> -->
                    Major best-match <br>
                    <!-- <img src="/images/sign2.png" id="pub-sub"> -->
                    Deadline approach
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
