<% include ./partials/header %>
<<<<<<< HEAD

<div class="row">
    <h1 style="text-align: center">Hello</h1>
    <div style="width: 30%; margin: 25px auto;">
        <%=user%>
    </div>
</div>
=======
<%=name%>
>>>>>>> ecfdd278bbf32ca67c6410d25a300a73c8823a21

<% include ./partials/footer %>