<% include ./partials/header %>
<link rel='stylesheet' href="/stylesheets/index.css" />
<link rel='stylesheet' href="/stylesheets/register.css" />

    <div class="usr">
        <div class="usr-wrapper">

            <div class="usr-header">Sign Up</div>
            <div class="usr-login-form">
                <form action="/register" method="post">
                    <a class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </a>
                    <a class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </a>
                    <a class="form-group">
                        <input class="form-control" type="text" name="firstName" placeholder="first name">
                    </a>
                    <a class="form-group">
                        <input class="form-control" type="text" name="lastName" placeholder="last name">
                    </a>

                    <div style="display:inline;">
                        <a id="back" href="/">Go Back</a>
                        <a class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>

<% include ./partials/footer %>
