<!DOCTYPE html>
<html>
<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance Checklist for Students</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel='stylesheet' href="/stylesheets/style.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-box"></div>

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Finance Checklist for Students</a>
        </div>

        <div id="navbar-date"></div>

        <div class="navbar-logout">
            <div class="navbar-box"></div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Log Out</a>
            </div>
        </div>

        <script>
            var m = new Date();
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            document.getElementById("navbar-date").innerHTML = months[m.getMonth()] + " " + m.getDate() + ", " + m.getFullYear();
        </script>

    </div>
</nav>

<div class="container">
    <!--<%if(0) {%>-->
    <!--<div class="alert alert-danger" role="alert">-->
        <!--<%=error%>-->
    <!--</div>-->
    <!--<%}%>-->
    <!--<%if(1) {%>-->
    <!--<div class="alert alert-success" role="alert">-->
        <!--<%%>-->
    <!--</div>-->
    <%}%>
</div>


<link rel='stylesheet' href="/stylesheets/index.css" />
<link rel='stylesheet' href="/stylesheets/show.css" />

    <div class="usr">
        <div class="usr-wrapper">
            <!-- <%=user.username%> -->
            <div class="usr-header"> <%=user.firstName%>'s <br> Budget List </div>
            <!-- <div class="usr-bul-wrapper">
                <div class="usr-bul-main">
                     <img src="/images/sign1.png" id="usr-main1">
                     Weekly Budget Goals
                </div>
                <div id="usr-bul-sub1">
                    Food & Drink <br>
                    Leisure <br>
                    Health <br>
                    Education <br>
                    Sports <br>
                    Transportation <br>
                </div>
            </div> -->

            <div class="usr-bul-wrapper">
                <div class="usr-bul-main">
                     <img src="/images/sign1.png" id="usr-main2">
                     Monthly Spending
                </div>

                <div id="usr-bul-sub2">
                    <ul class="monthly">
                        <li class="item">
                            <span class="name">Food & Drink</span>
                            <span class="progress">
                                <span class="bar" style="width:90%;"></span>
                                <a> 780/880 </a>
                            </span>
                        </li>

                        <li class="item">
                            <span class="name">Leisure</span>
                            <span class="progress">
                                <span class="bar" style="width:66%;"></span>
                                <a> 610/900 </a>
                            </span>
                        </li>

                        <li class="item">
                            <span class="name">Health</span>
                            <span class="progress">
                                <span class="bar" style="width:50%; background-color: #0076A3;"></span>
                                <a> 150/300 </a>
                            </span>
                        </li>

                        <li class="item">
                            <span class="name">Education</span>
                            <span class="progress">
                                <span class="bar" style="width:101%; background-color: #B01233;"></span>
                                <a> 200/150</a>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- <div class="usr-bul-wrapper">
                <div class="usr-bul-main">
                     <img src="/images/sign1.png" id="usr-main3">
                     Stock Information
                </div>
                <div id="usr-bul-sub3">
                </div>
            </div> -->

        </div>
    </div>

<% include ./partials/footer %>
