.usr {
    /* position: fixed; */
    position: absolute;
    display: block;
    /* left: 0; */
    top: 50px;

    width: 45%;
    height: 100%;

    /* background-color: #eeeeee; */

}

.usr-wrapper {
    /* text-align: center; */
    width: 100%;
    height: 100%;

}

.usr-header {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 70px;

    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    text-align: left;

    line-height: 50px;

}


.usr-login-wrapper {
    position: relative;
    display: block;
    margin-top: 150px;

    text-align: center;
}

.usr-login {
    position: relative;
    display: block;
}


.usr-login li {
    margin: 20px auto 20px auto;
    display: block;

    background-color: #00648a;
    /* align-items: center; */
    /* text-align: center; */
    width: 60%;
    line-height: 32px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #0076a7; */

}

.usr-login li a {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
}


.pub {
    /* position: fixed; */
    position: absolute;
    display: block;
    /* left: 0; */
    /* top: 50px; */
    right: 0;

    background-color: #fbfbfb;

    width: 55%;
    height: 100%;
}


.pub-wrapper {
    width: 100%;
    height: 100%;


}

.pub-header {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 70px;

    /* margin-left: 20px; */

    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    text-align: left;

    line-height: 50px;

}

.pub-bul-wrapper {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 150px;

    line-height: 40px;
}

.pub-bul-main {
    color: #00394f;
    font-size: 25px;
    letter-spacing: 1px;
}

#pub-main1, #pub-main2 {
    display: inline;
    /* position: fixed; */
    max-width: 14px;
    max-height: 14px;

    padding: 3px;
    margin-right: 2px;
}

#pub-main1.rot, #pub-main2.rot {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;

    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);

}

#pub-bul-sub1, #pub-bul-sub2 {
    color: #0076a3;
    font-size: 18px;

    margin-left: 60px;
    line-height: 40px;
}

#pub-bul-sub1.active, #pub-bul-sub2.active {
    display: none;
}


#pub-sub {
    display: inline;
    /* position: fixed; */
    max-width: 16px;
    max-height: 16px;
}

#pub-bul-ss {
    display: block;
    position: relative;
    font-size: 15px;
    color: #a35500;
    margin-left: 50px;
}

.pub-detail {
    color: #0076a3;
    font-size: 18px;
}
