.usr {
    position: absolute;
    display: block;
    /* left: 0; */
    top: 40px;

    width: 40%;
    height: 100%;

    background-color: black;

}


.pub {
    position: absolute;
    display: block;
    /* left: 0; */
    top: 40px;
    right: 0;

    background-color: blue;

    width: 60%;
    height: 100%;
}
