
.usr-login-form {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

::placeholder {
    display: inline;
    position: relative;
    color: #00648a;
    font-size: 12px;
    letter-spacing: 1px;
    /* padding: 20px; */
}

.form-control {
    margin: 20px auto 20px auto;
    padding: 0 20px 0 20px;
    display: block;

    background-color: #ffffff;

    width: 40%;
    line-height: 32px;

    color: #00648a;
    font-size: 12px;
    letter-spacing: 1px;

    /* border: none; */
    border-style: solid;
    border-color: #00648a;
    border-radius: 5px;
}

#back {
    /* display: inline-block; */
    background-color: #ffffff;

    color: #00648a;
    border: none;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;

    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

button {
    /* display: inline-block; */
    background-color: #00648a;

    color: #ffffff;
    border: none;
    border-radius: 5px;

    margin-left: 20px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
